body {
  margin: 0px;
  text-align: center;
  color: #0d5c63;
  font-size: 18px;
}

h1 {
  font-size: 28px;
}

.homepage {
  margin-top: 35px;
  margin-bottom: 20px;
}

.formpage {
  margin-top: 35px;
  margin-bottom: 20px;
}

.favspage {
  margin-top: 35px;
  margin-bottom: 20px;
}

.nav-menu {
  width: 100%;
  background-color: #EBF5EE;
  overflow: auto;
}

.nav-menu a {
  display: inline-block;
  padding: 8px;
  margin: 15px 30px 15px 30px;
  color: #0d5c63;
  text-decoration: none;
  font-size: 20px;
  width: 130px;
  text-align: center;
}

.nav-menu a:hover {
  color: #0d5c63;
}

.card {
  display: inline-block;
  width: 260px;
  height: 335px;
  background-color: #EBF5EE;
  margin: 10px;
  border: 1px solid #f1f1f1;
  /* border: 1px solid red; */
}

.card h2 {
  font-size: 22px;
}

.card-body {
  text-align: center;
}

.card-image {
  max-height: 250px;
  padding-top: 20px;
}

.card-info {
  height: 250px;
  font-size: 14px;
  line-height: normal;
  padding: 12px 20px;
}

.card-info h2 {
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: -8px;
}
