body {
  margin: 0px;
  text-align: center;
  color: #0d5c63;
  font-size: 18px;
}

h1 {
  font-size: 28px;
}

.homepage {
  margin-top: 35px;
  margin-bottom: 20px;
}

.formpage {
  margin-top: 35px;
  margin-bottom: 20px;
}

.nav-menu {
  width: 100%;
  background-color: #EBF5EE;
  overflow: auto;
}

.nav-menu a {
  display: inline-block;
  padding: 8px;
  margin: 15px 30px 15px 30px;
  color: #0d5c63;
  text-decoration: none;
  font-size: 20px;
  width: 130px;
  text-align: center;
}

.nav-menu a:hover {
  color: #0d5c63;
}

.card {
  display: inline-block;
  width: 250px;
  height: 340px;
  background-color: #EBF5EE;
  margin: 10px;
  perspective: 1000px;
  border: 1px solid #f1f1f1;
}

.card h2 {
  font-size: 22px;
}

.card-body {
  position: relative;
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-image {
  max-height: 250px;
}

.card-info {
  text-align: left;
  font-size: 14px;
  line-height: 1;
  padding-top: 0px;
  padding-bottom: 0px;
}
