/* -------------------------------------------------------------------------- GEN */
body {
  margin-left: 32px;
  margin-right: 32px;
  text-align: center;
  color: #0d5c63;
  font-size: 18px;
  overflow-y: overlay;
}

h1 {
  font-size: 28px;
  margin-top: 35px;
  margin-bottom: 20px;
}

h2 {
  color: #0d5c63;
}

/* -------------------------------------------------------------------------- NAVIGATION */
.nav-menu {
  background-color: #EBF5EE;
  margin-left: -32px;
  margin-right: -32px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}

.nav-menu a {
  display: inline-block;
  padding: 8px;
  margin: 15px 28px 15px 28px;
  color: #0d5c63;
  border: 2px solid #EBF5EE;
  text-decoration: none;
  font-size: 20px;
  width: 130px;
  text-align: center;
}

a[aria-current="page"] {
  border: 2px solid #0d5c63;
  border-radius: 2px;
  background-color: white;
}

.nav-menu a:hover {
  border: 2px solid #0d5c63;
  border-radius: 2px;
}

.nav-menu a.add-god {
  float: right;
}

/* .nav-menu a.add-god{
  background-color: #0d5c63;
  color: #EBF5EE;
  border: 1px solid #0d5c63;
  padding: 9px;
  border-radius: 2px;
  float: right;
  right: 30px;
  position: absolute;
} */

/* .nav-menu a.add-god.add-god:hover {
  background-color: #074046;
} */

/* -------------------------------------------------------------------------- CARD */
.card-container {
  display: inline-block;
}

.card {
  display: inline-block;
  width: 260px;
  height: 335px;
  background-color: #EBF5EE;
  margin: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  z-index: -1;
}

.card h2 {
  font-size: 18px;
}

.line {
  width: 75%;
  border: .5px solid rgb(226, 225, 225);
}

.card-body {
  text-align: center;
  position: relative;
  z-index: 1;
}

.card-image {
  max-height: 250px;
  padding-top: 20px;
}

.card-info {
  height: 250px;
  font-size: 14px;
  line-height: normal;
  padding: 12px 20px;
}

.card-info h2 {
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: -8px;
}

/* -------------------------------------------------------------------------- FORM */
/* -------------------- HTML & CSS formatting reference: https://developer.mozilla.org/en-US/docs/Learn/Forms/Your_first_form */
form {
  margin-top: 0;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 30px 18px;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
  font-size: 0; /* removes space with inline-block elements https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
  padding-top: 10px;
}

label {
  display: inline-block;
  width: 166px;
  text-align: right;
  word-wrap: nowrap;
  font-size: 18px;
}

input {
  width: 60%;
  box-sizing: border-box;
  padding: 8px;
  margin: 10px;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 2px;
}

input[type=text]:focus {
  background-color: #EBF5EE;
  outline: none;
  border: 1px solid rgb(201, 199, 199);
}

input[type=submit] {
  padding-left: 166px;
  background-color: #0d5c63;
  color: #EBF5EE;
  border: 1px solid #0d5c63;
  padding: 9px;
  margin-top: 38px;
  margin-bottom: 0px;
  border-radius: 2px;
  width: 160px;
  font-size: 18px;
}

input[type=submit]:hover {
  background-color: #074046;
}

.link-faq {
  color: rgb(176, 176, 176);
  font-size: 13px;
  width: 100%;
  text-align: left;
  margin-left: 206px;
  line-height: 0;
}

.form-space {
  padding-bottom: 20px;
}

/* -------------------------------------------------------------------------- LIKE FEATURES */
.circ {
  font-size: 20px;
  font-weight: 600;
  color: #0d5c63;
  padding: 3px 8px;
  position: absolute;
  left: -4px;
  top: -285px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.expand {
  font-size: 35px;
  color: #0d5c63;
  padding: 10px;
  position: absolute;
  right: -6px;
  top: -298px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

/* .eStar {
  font-size: 28px;
  font-weight: 100;
  position: absolute;
  left: -5px;
  top: -292px;
  cursor: pointer;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
